
/*CSS for the main body */
body {
    margin: 10px;
    height: 1122px;
    width: 794px;
    font-size: smaller;
}

.Resume_main {
    display: flex;
    flex-direction: row;
    margin: 50px;
   }
   
hr {
    width: 100%;
}

/*CSS for Left Content */
.Profile_image {
    width: 100%;
    padding-bottom: 0px;
    padding-top: 20px;
    padding-left: 25px;
}

.Profile_image img {
    height: auto;
    max-width: 70%;
    border: 5px solid white;
    border-radius: 50%;
}

.Resume_main .Resume_left {
    width: 30%;
    display:grid;
    background-color:#58208b;
    color: aliceblue;
}

.Resume_main .Resume_left .Headline {
    font-size: 1.5rem;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    justify-content: left;
}


.Resume_main .Resume_left .Contents .Content_Info {
    display: flex;
    flex-direction: column;
}


.Resume_main .Resume_left .Contents .Content_Info ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-start;
    padding: 0px 15px 15px 15px;
    font-size: 14px;
}

.Resume_main .Resume_left .Contents .Content_Info ul .small_contents{
    display: flex;
   line-height: 20px;
   align-items: baseline;
   
}

.Resume_main .Resume_left .Contents .Content_Info ul .small_contents .icon {
    padding-right: 8px;
}
.Resume_main .Resume_left .Contents .Contents_Skills ul li{
    padding: 10px;
}

.Resume_main .Resume_left .Contents a {
    color: aliceblue;
}

/*CSS for Right Content*/

.Resume_main .Resume_right .Profile_Name h1{
    font-size: 55px;
    padding-left: 20px;
    margin-bottom: 1px;
    color: rgb(41, 40, 40);
}

.Resume_main .Resume_right .Profile_Name p {
    font-size: 25px;
    padding-left: 20px;
    color: #623499;
    padding-bottom: 12.5px;
}

.Resume_main .Resume_right .Right_Headline {
    font-size: 20px;
    font-weight: 600;
    color:rgb(111, 29, 150)
}

.Resume_main .Resume_right {
    width: 70%;
    display:grid;
    background-color:rgb(228, 228, 228);

}

.Resume_main .Resume_right .Right_Contents .Profile_Description, .Certification , .Education , .Certification , .Interests {
    margin-bottom: 50px;
    margin-top: 30px;
    line-height: 20px;
}

.Resume_main .Resume_right .Right_Contents .Profile_Description {
    line-height: 25px;
}

.Resume_main .Resume_right .Right_Contents .Certification ul li {
    padding-bottom: 10px;
    
}

.Resume_main .Resume_right .Right_Contents .Certification ul li a {
    color: rgb(69, 71, 71);
}

.Resume_main .Resume_right .Right_Contents .Interests ul {
    display: flex;
    flex-direction: row;
}

.Resume_main .Resume_right .Right_Contents .Interests ul .interests_icon {
    margin-top: 15px;
    padding-right: 50px;
    
}

.Resume_main .Resume_right .Right_Contents .Interests ul .interests_icon img {
    width: 40px;
}

.Resume_main .Resume_right .Right_Contents .lower_contents {
    padding-left: 20px;
}
