
/*CSS for the main body */
body {
    margin: 10px;
    height: 1122px;
    width: 794px;
    font-size: smaller;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.Resume_main {
    display: flex;
    flex-direction: row;
    margin: 50px;
   }
   
hr {
    width: 100%;
}

/*CSS for Left Content */
.Profile_image {
    width: 100%;
    height: 40px;
    padding-top: 20px;
    padding-left: 25px;
}

.Profile_image img {
    height: auto;
    max-width: 70%;
    border: 5px solid white;
    border-radius: 50%;
}

.Resume_main .Resume_left {
    width: 30%;
    display:grid;
    background-color:#6a15b4;
    color: aliceblue;
}

.Resume_main .Resume_left .Headline {
    font-size: 1.5rem;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-top: 40px;
    justify-content: left;
    height: 10px;
}


.Resume_main .Resume_left .Contents .Content_Info {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    margin-top: 90px;
}


.Resume_main .Resume_left .Contents .Content_Info ul {
    display: flex;
    padding: 0px 15px 15px 15px;
    font-size: 14px;
    flex-direction: column;
}

.Resume_main .Resume_left .Contents .Content_Info ul .small_contents{
    display: flex;
   line-height: 20px;
   align-items: center;
   
}


.Resume_main .Resume_left .Contents .Content_Info ul .small_contents .icon {
    padding-right: 6px;
    margin-right: 8px;
    margin-bottom: 1px;
    padding-bottom: 0px;
    background-color: #d8c0e5;
    border-radius: 50%;
}

.Resume_main .Resume_left .Contents .Content_Info ul .small_contents .icon img {
    margin-left: 6px;
    margin-bottom: 3px;
    margin-right: 1px;
    margin-top: 5px;
}

.Resume_main .Resume_left .Contents a {
    color: aliceblue;
}

.Resume_main .Resume_left .Contents {
    margin-top: 0px;
}

.Resume_main .Resume_left .Contents .Interests ul {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Resume_main .Resume_left .Contents .Interests ul .interests_icon {
    margin-top: 20px;
    margin-bottom: 8px;
    padding-right: 4px;
    margin-right: 60px;
    padding-top: 15px;
    background-color: #d8c0e5;
    border-radius: 50%;
   
}

.Resume_main .Resume_left .Contents .Interests ul .interests_icon img {
    width: 20px;
   margin-left: 12px;
   margin-bottom: 8px;
   margin-right: 10px;
}

/*CSS for Right Content*/

.Resume_main .Resume_right .Profile_Name h1{
    font-size: 50px;
    padding-left: 20px;
    margin-bottom: 0px;
    color: rgb(41, 40, 40);
}

.Resume_main .Resume_right .Profile_Name p {
    font-size: 25px;
    padding-left: 20px;
    color: #623499;
    padding-bottom: 11px;
}

.Resume_main .Resume_right .Right_Headline {
    font-size: 1.5rem;
    font-weight: 600;
    color:rgb(111, 29, 150);
    padding-bottom: 5px;
}

.Resume_main .Resume_right {
    width: 70%;
    display:grid;
    background-color:#d8c0e5;

}

.Resume_main .Resume_right .Right_Contents .Profile_Description, .Certification , .Education , .Certification , .Contents_Skills {
    margin-bottom: 50px;
    margin-top: 30px;
    line-height: 20px;
}

.Resume_main .Resume_right .Right_Contents .Profile_Description {
    line-height: 25px;
    font-size: 16.5px;
}

.Resume_main .Resume_right .Right_Contents .Certification ul li {
    padding-bottom: 10px;
    
}

.Resume_main .Resume_right .Right_Contents .Certification ul li a {
    color: rgb(69, 71, 71);
}


.Resume_main .Resume_right .Right_Contents .lower_contents {
    padding-left: 20px;
}


.Resume_main .Resume_right .Right_Contents .lower_contents .Contents_Skills ul li{
    padding: 10px;
    font-size: 1.1rem;
}